Basic Level:

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [2]:
tempList = [1,2,3,4,5]
tempList

[1, 2, 3, 4, 5]

In [3]:
sum = 0

for i in tempList:
    sum += i
    
print(sum)

15

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [4]:
tempStr = 'abcde'
tempStr

'abcde'

In [8]:
for i in range(len(tempStr)-1, -1, -1):
    print(tempStr[i])

e
d
c
b
a

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [9]:
n = 5
n

5

In [11]:
fact = 1

for i in range(1, n+1):
    fact *= i
    
print(fact)

120

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [14]:
i = 10
for j in range(1, 11):
    print(str(i) + '*' + str(j) + '=' + str(i*j))

10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [15]:
tempList = [1,2,3,4,5,6,7]
tempList

[1, 2, 3, 4, 5, 6, 7]

In [16]:
evenCount = 0

oddCount = 0

for i in tempList:
    if i % 2 == 0:
        evenCount += 1
    else:
        oddCount += 1
        
print('event count: ', evenCount)
print('odd count: ', oddCount)

event count:  3
odd count:  4

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [17]:
for i in range(1, 6):
    print(i**2)

1
4
9
16
25

8. Create a program to find the length of a string without using the `len()` function.

In [18]:
tempStr

'abcde'

In [19]:
len(tempStr)

5

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [20]:
tempList

[1, 2, 3, 4, 5, 6, 7]

In [21]:
totalSum = 0

for i in tempList:
        totalSum += i
        
average = totalSum/ len(tempList)

print(average)

4.0

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [22]:
n = 5

In [24]:
fibList = []
a, b = 0, 1

for i in range(n):
    fibList.append(a)
    
    a , b = b, a+b

print(fibList)

[0, 1, 1, 2, 3]

Intermediate Level:

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [25]:
tempList = [1,2,2,3]

for index, item in enumerate(tempList):
    if item in tempList[index+1:]:
        print('duplicate')
        break

duplicate

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [28]:
startN = 5
endN = 100

In [29]:
for num in range(startN, endN + 1):
    if num > 1:
        is_prime = True
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            print(num)

5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [31]:
vowels = ('a', 'e', 'i', 'o', 'u')
vowels

('a', 'e', 'i', 'o', 'u')

In [32]:
tempStr

'abcde'

In [33]:
vowelCount = 0

for ch in tempStr:
    if ch in vowels:
            vowelCount+=1
            
print(vowelCount)

2

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [34]:
temp2dList = [[1,2,3], [4,5,6]]
temp2dList

[[1, 2, 3], [4, 5, 6]]

In [37]:
maxEle = 0
for i in temp2dList:
    for nestedElement in i:
        if maxEle < nestedElement:
            maxEle = nestedElement
        
print(maxEle)

6

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [38]:
tempList

[1, 2, 2, 3]

In [39]:
removeEle = 2

In [41]:
tempList2 = []
for i in tempList:
    if i != removeEle:
        tempList2.append(i)
print(tempList2)

[1, 3]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [42]:
n = 5

In [43]:
for i in range(1, n+1):
    for j in range(1, 11):
        print(str(i) + '*' + str(j) + '=' + str(i*j))

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [44]:
#°C = (°F - 32) × 5/9

In [45]:
tempFList = [99,95]
tempFList

[99, 95]

In [46]:
for index, i in enumerate(tempFList):
    c = (i - 32)* 5/9
    tempFList[index] = c
    
print(tempFList)

[37.22222222222222, 35.0]

18. Create a program to print the common elements from two lists using a `for` loop.

In [47]:
tempList1 = [1,2,3,4,5]

tempList2 = [2,3,4,7,8]

In [48]:
for i in tempList1:
    if i in tempList2:
        print(i)

2
3
4

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [51]:
n = 10

In [52]:
for i in range(1, n + 1):
    print('*' * i)

*
**
***
****
*****
******
*******
********
*********
**********

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [53]:
n1 = 24

n2 = 30

In [54]:
minN = min(n1, n2)

In [55]:
gcd = 1

for i in range(2, minN+1):
    if n1%i == 0 and n2%i == 0:
        gcd = i
        
print(gcd)

6

Advanced Level:

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [1]:
tempList = [123, 454, 675, 101]
tempList

[123, 454, 675, 101]

In [4]:
sums = [sum(int(digit) for digit in str(number)) for number in tempList]

for i, number in enumerate(tempList):
    print(number, ":", sums[i])

123 : 6
454 : 13
675 : 18
101 : 2

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [16]:
num = 27
num

27

In [17]:
prime_factors = [factor for factor in range(2, num + 1) if num % factor == 0 and all(factor % divisor != 0 for divisor in range(2, factor))]

In [18]:
prime_factors

[3]

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [19]:
tempList = [1, 2, 2, 3, 4, 4, 5, 6, 6]

tempList

[1, 2, 2, 3, 4, 4, 5, 6, 6]

In [21]:
unique_elements = [x for i, x in enumerate(tempList) if x not in tempList[:i]]

unique_elements

[1, 2, 3, 4, 5, 6]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [22]:
limit = 10
limit

10

In [23]:
palindromic_numbers = [num for num in range(limit + 1) if str(num) == str(num)[::-1]]

palindromic_numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

25. Write a program to flatten a nested list using list comprehension.

In [24]:
nestedTempList = [[1,2,3], [4,5,6]]
nestedTempList

[[1, 2, 3], [4, 5, 6]]

In [26]:
flattenList = [x for tempList in nestedTempList for x in tempList]
flattenList

[1, 2, 3, 4, 5, 6]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [27]:
flattenList

[1, 2, 3, 4, 5, 6]

In [28]:
even_sum = sum([num for num in flattenList if num % 2 == 0])
odd_sum = sum([num for num in flattenList if num % 2 != 0])

In [29]:
print('even sum: ',even_sum)

even sum:  12

In [30]:
print('odd sum: ', odd_sum)

odd sum:  9

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [31]:
oddList = [x for x in range(1, 11) if x%2!= 0]
oddList

[1, 3, 5, 7, 9]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [32]:
tempList1 = ['a', 'b']
tempList1

['a', 'b']

In [33]:
tempList2 = [2,4]
tempList2

[2, 4]

In [35]:
dictList = {tempList1[i]: tempList2[i] for i in range(len(tempList1))}
dictList

{'a': 2, 'b': 4}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [36]:
vowels = ('a', 'e', 'i', 'o', 'u')
vowels

('a', 'e', 'i', 'o', 'u')

In [37]:
tempStr ='a string with and withput vowels'
tempStr

'a string with and withput vowels'

In [38]:
vowelList = [v for v in tempStr if v in vowels]

vowelList

['a', 'i', 'i', 'a', 'i', 'u', 'o', 'e']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [39]:
string_list = ["abc123", "456xyz", "789", "abc456xyz"]
string_list

['abc123', '456xyz', '789', 'abc456xyz']

In [40]:
numList = [''.join(ch for ch in string if ch.isdigit()) for string in string_list ]
numList

['123', '456', '789', '456']

Challenge Level:

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.

In [41]:
# ref.: https://www.geeksforgeeks.org/sieve-of-eratosthenes/

In [42]:
limit = 100
limit

100

In [43]:
prime_numbers = [num for num in range(2, limit + 1) if all(num % i != 0 for i in range(2, int(num**0.5) + 1))]
prime_numbers

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.

In [46]:
# A Pythagorean triple consists of three positive integers a, b, and c, such that a2 + b2 = c2

In [47]:
limit

100

In [48]:
pythagorean_triplets = [(a, b, c) for a in range(1, limit) for b in range(a, limit) for c in range(b, limit) if a**2 + b**2 == c**2]
pythagorean_triplets

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (11, 60, 61),
 (12, 16, 20),
 (12, 35, 37),
 (13, 84, 85),
 (14, 48, 50),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (16, 63, 65),
 (18, 24, 30),
 (18, 80, 82),
 (20, 21, 29),
 (20, 48, 52),
 (21, 28, 35),
 (21, 72, 75),
 (24, 32, 40),
 (24, 45, 51),
 (24, 70, 74),
 (25, 60, 65),
 (27, 36, 45),
 (28, 45, 53),
 (30, 40, 50),
 (30, 72, 78),
 (32, 60, 68),
 (33, 44, 55),
 (33, 56, 65),
 (35, 84, 91),
 (36, 48, 60),
 (36, 77, 85),
 (39, 52, 65),
 (39, 80, 89),
 (40, 42, 58),
 (40, 75, 85),
 (42, 56, 70),
 (45, 60, 75),
 (48, 55, 73),
 (48, 64, 80),
 (51, 68, 85),
 (54, 72, 90),
 (57, 76, 95),
 (60, 63, 87),
 (65, 72, 97)]

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [49]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

In [50]:
combinations = [(x, y) for x in list1 for y in list2]
combinations

[(1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c'),
 (3, 'a'),
 (3, 'b'),
 (3, 'c')]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.

In [62]:
tempList = [8,5,7,89]

In [63]:
mean = sum(tempList)/ len(tempList)
print('mean:' ,mean)

mean: 27.25

In [64]:
sorted_lst = sorted(tempList)
sorted_lst

[5, 7, 8, 89]

In [65]:
n = len(sorted_lst)

In [66]:
median = (sorted_lst[(n - 1) // 2] + sorted_lst[n // 2]) / 2 if n % 2 == 0 else sorted_lst[n // 2]
print('median: ',median)

median:  7.5

In [70]:
tempList = [8,5,7,89, 9, 9, 9]
tempList

[8, 5, 7, 89, 9, 9, 9]

In [71]:
counts = {num: tempList.count(num) for num in tempList}
counts

{8: 1, 5: 1, 7: 1, 89: 1, 9: 3}

In [72]:
mode = [key for key, value in counts.items() if value == max(counts.values())]
print('mode: ', mode)

mode:  [9]

35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.

In [73]:
# ref. Pascal's triangle is the triangular array of numbers that begins with 1 on the top and with 1's running down the two sides of a triangle.

In [74]:
num_rows = 5
num_rows

5

In [80]:
pascalList=[1] 
for i in range(num_rows): 
    print(pascalList) 
    newlist=[] 
    newlist.append(pascalList[0]) 
    for i in range(len(pascalList)-1): 
        newlist.append(pascalList[i]+pascalList[i+1]) 
    newlist.append(pascalList[-1]) 
    pascalList=newlist 
pascalList

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

[1, 5, 10, 10, 5, 1]

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.

In [89]:
sum_of_digit_factors = [
    sum(map(int, str(factorial))) 
    for factorial in [1, 2, 6, 24, 120]  # Factorials of 1 to 5
]
sum_of_digit_factors

[1, 2, 6, 6, 3]

37. Write a program that finds the longest word in a sentence using list comprehension.

In [90]:
sentence = 'Write a program that finds the longest word in a sentence using list comprehension.'
sentence

'Write a program that finds the longest word in a sentence using list comprehension.'

In [91]:
words = sentence.split()
words

['Write',
 'a',
 'program',
 'that',
 'finds',
 'the',
 'longest',
 'word',
 'in',
 'a',
 'sentence',
 'using',
 'list',
 'comprehension.']

In [92]:
longest_words = [word for word in words if len(word) == max(map(len, words))]
longest_words

['comprehension.']

38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.

In [94]:
words

['Write',
 'a',
 'program',
 'that',
 'finds',
 'the',
 'longest',
 'word',
 'in',
 'a',
 'sentence',
 'using',
 'list',
 'comprehension.']

In [95]:
vowels

('a', 'e', 'i', 'o', 'u')

In [96]:
filtered_strings = [string for string in words if sum(1 for char in string if char.lower() in vowels) > 3]
filtered_strings

['comprehension.']

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.

In [97]:
numbers = list(range(1, 1001))
numbers

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000]

In [98]:
sum_of_digits = sum([sum(int(digit) for digit in str(number)) for number in numbers])
sum_of_digits

13501

40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [102]:
# https://en.wikipedia.org/wiki/Palindromic_prime#:~:text=2%2C%203%2C%205%2C%207%2C%20B%2C%2011%2C,B2B%2C%20B6B%2C%20...

In [103]:
limit = 100
limit

100

In [104]:
prime_palindromic_numbers = [
    num
    for num in range(1, limit+1)
    if num > 1 and all(num % i != 0 for i in range(2, int(num ** 0.5) + 1))
    and str(num) == str(num)[::-1]
]
prime_palindromic_numbers

[2, 3, 5, 7, 11]