For Loop :-
1. Write a Python program to print numbers from 1 to 10 using a for loop.
2. Explain the difference between a for loop and a while loop in Python.
3. Write a Python program to calculate the sum of all numbers from 1 to 100 using a for loop.
4. How do you iterate through a list using a for loop in Python?
5. Write a Python program to find the product of all elements in a list using a for loop.
6. Create a Python program that prints all even numbers from 1 to 20 using a for loop.
7. Write a Python program that calculates the factorial of a number using a for loop.
8. How can you iterate through the characters of a string using a for loop in Python?
9. Write a Python program to find the largest number in a list using a for loop.
10. Create a Python program that prints the Fibonacci sequence up to a specified limit using a for
loop.
11. Write a Python program to count the number of vowels in a given string using a for loop.
12. Create a Python program that generates a multiplication table for a given number using a for
loop.
13. Write a Python program to reverse a list using a for loop.
14. Write a Python program to find the common elements between two lists using a for loop.
15. Explain how to use a for loop to iterate through the keys and values of a dictionary in Python.
16. Write a Python program to find the GCD (Greatest Common Divisor) of two numbers using a for
loop.
17. Create a Python program that checks if a string is a palindrome using a for loop.
18. Write a Python program to remove duplicates from a list using a for loop.
19. Create a Python program that counts the number of words in a sentence using a for loop.
20. Write a Python program to find the sum of all odd numbers from 1 to 50 using a for loop.
21. Write a Python program that checks if a given year is a leap year using a for loop.
22. Create a Python program that calculates the square root of a number using a for loop.
23. Write a Python program to find the LCM (Least Common Multiple) of two numbers using a for
loop

P1.

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

P2.

In [2]:
"""The main difference is that a for loop is used for a specific number of iterations, whereas a while loop is used for an unknown number of iterations until a certain condition is met."""

'The main difference is that a for loop is used for a specific number of iterations, whereas a while loop is used for an unknown number of iterations until a certain condition is met.'

P3.

In [3]:
total = 0
for i in range(1, 101):
    total += i
print("Sum:", total)

Sum: 5050

P4.

In [4]:
temp_list = [1, 2, 3, 4, 5]
temp_list

[1, 2, 3, 4, 5]

In [6]:
for item in temp_list:
    print(item)

1
2
3
4
5

P5.

In [8]:
product = 1
for num in temp_list:
    product *= num
print("Product:", product)

Product: 120

P6.

In [9]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

P7.

In [10]:
n = 5
factorial = 1
for i in range(1, n + 1):
    factorial *= i
print("Factorial of", n, "is", factorial)

Factorial of 5 is 120

P8.

In [11]:
my_string = "Hello"
for char in my_string:
    print(char)

H
e
l
l
o

P9.

In [12]:
my_list = [3, 7, 1, 9, 5]
largest = my_list[0]
for num in my_list:
    if num > largest:
        largest = num
print("Largest:", largest)

Largest: 9

P10.

In [13]:
limit = 10
a, b = 0, 1
for i in range(limit):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

P11.

In [14]:
input_string = "Hello, World!"
input_string

'Hello, World!'

In [15]:
vowels = "AEIOUaeiou"
vowels

'AEIOUaeiou'

In [17]:
count = 0

for char in input_string:
    if char in vowels:
        count += 1

print("Number of vowels:", count)

Number of vowels: 3

P12.

In [18]:
number = 5

for i in range(1, 11):
    result = number * i
    print(f"{number} x {i} = {result}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

P13.

In [20]:
my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [21]:
reversed_list = []

for i in range(len(my_list) - 1, -1, -1):
    reversed_list.append(my_list[i])

print("Reversed List:", reversed_list)

Reversed List: [5, 4, 3, 2, 1]

P14.

In [22]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements = []

for item in list1:
    if item in list2:
        common_elements.append(item)

print("Common Elements:", common_elements)

Common Elements: [3, 4, 5]

P15.

In [23]:
my_dict = {"name": "John", "age": 30, "city": "New York"}

for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: name, Value: John
Key: age, Value: 30
Key: city, Value: New York

P16.

In [25]:
def gcd(x, y):
    if x < y:
        x, y = y, x

    for i in range(y, 0, -1):
        if x % i == 0 and y % i == 0:
            return i

In [26]:
num1 = 48
num2 = 18
result = gcd(num1, num2)
print("GCD:", result)

GCD: 6

P17.

In [27]:
input_string = "racecar"
is_palindrome = True

for i in range(len(input_string) // 2):
    if input_string[i] != input_string[-(i + 1)]:
        is_palindrome = False
        break

if is_palindrome:
    print("Palindrome")
else:
    print("Not a Palindrome")

Palindrome

P18.

In [28]:
my_list = [1, 2, 2, 3, 4, 4, 5]

my_list

[1, 2, 2, 3, 4, 4, 5]

In [29]:
unique_list = []

for item in my_list:
    if item not in unique_list:
        unique_list.append(item)

print("Unique List:", unique_list)

Unique List: [1, 2, 3, 4, 5]

P19

In [30]:
sentence = "This is a sample sentence."
sentence

'This is a sample sentence.'

In [31]:
words = sentence.split()
word_count = len(words)
print("Number of Words:", word_count)

Number of Words: 5

P20

In [32]:
total = 0

for i in range(1, 51, 2):
    total += i

print("Sum of Odd Numbers:", total)

Sum of Odd Numbers: 625

P21

In [34]:
year = 2024
year

2024

In [39]:
def is_leap_year(year):
    leap_years = []  # list to store leap years
    for y in range(1, year + 1):
        if (y % 4 == 0 and y % 100 != 0) or (y % 400 == 0):
            leap_years.append(y)
    return leap_years

In [40]:
print(year in is_leap_year(year))

True

P22

In [41]:
number = 25
number

25

In [42]:
square_root = 1.0

for _ in range(10):
    square_root = 0.5 * (square_root + number / square_root)

print("Square Root:", square_root)

Square Root: 5.0

P23

In [43]:
num1 = 12
num2 = 18

In [44]:
max_num = max(num1, num2)
for i in range(max_num, num1 * num2 + 1):
    if i % num1 == 0 and i % num2 == 0:
        lcm_result = i
        break

print("LCM:", lcm_result)

LCM: 36

If else :
1. Write a Python program to check if a number is positive, negative, or zero using an if-else
statement.
2. Create a Python program that checks if a given number is even or odd using an if-else statement.
3. How can you use nested if-else statements in Python, and provide an example?
4. Write a Python program to determine the largest of three numbers using if-else.
5. Write a Python program that calculates the absolute value of a number using if-else.
6. Create a Python program that checks if a given character is a vowel or consonant using if-else.
7. Write a Python program to determine if a user is eligible to vote based on their age using if-else.
8. Create a Python program that calculates the discount amount based on the purchase amount
using if-else.
9. Write a Python program to check if a number is within a specified range using if-else.
10. Create a Python program that determines the grade of a student based on their score using
if-else

P1

In [45]:
num = float(input("Enter a number: "))
num

Enter a number:  55

55.0

In [46]:
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Positive

P2

In [47]:
num = int(input("Enter a number: "))
num

Enter a number:  99

99

In [48]:
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

p3

In [49]:
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive")
else:
    print("Negative")

Positive

p4

In [50]:
a = float(input("Enter the first number: "))
b = float(input("Enter the second number: "))
c = float(input("Enter the third number: "))

Enter the first number:  3
Enter the second number:  6
Enter the third number:  -9

In [51]:
if a >= b and a >= c:
    print("Largest: ", a)
elif b >= a and b >= c:
    print("Largest: ", b)
else:
    print("Largest: ", c)

Largest:  6.0

p5

In [57]:
num = -99
num

-99

In [58]:
if num < 0:
    abs_num = -num
else:
    abs_num = num
print("Absolute value: ", abs_num)

Absolute value:  99

p6

In [60]:
char = 'q'
char

'q'

In [61]:
if char.lower() in 'aeiou':
    print("Vowel")
else:
    print("Consonant")

Consonant

p7

In [63]:
age = int(input("Enter your age: "))
age

Enter your age:  26

26

In [64]:
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are eligible to vote.

p8

In [65]:
purchase_amount = float(input("Enter the purchase amount: "))
purchase_amount

Enter the purchase amount:  10000

10000.0

In [66]:
if purchase_amount >= 1000:
    discount = 0.1 * purchase_amount  # 10% discount
else:
    discount = 0
final_amount = purchase_amount - discount
print("Discount:", discount)
print("Final amount:", final_amount)

Discount: 1000.0
Final amount: 9000.0

p9

In [67]:
num

-99

In [68]:
min_range = 10
max_range = 50

In [69]:
if min_range <= num <= max_range:
    print("Number is within the specified range.")
else:
    print("Number is outside the specified range.")

Number is outside the specified range.

p10

In [70]:
score = float(input("Enter your score: "))
score

Enter your score:  93

93.0

In [71]:
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"
print("Your grade is:", grade)

Your grade is: A

p11

In [1]:
text = ""

if not text:
    print("String is empty")
else:
    print("String is not empty")

String is empty

p12

In [2]:
side1 = float(input("Enter length of side 1: "))
side2 = float(input("Enter length of side 2: "))
side3 = float(input("Enter length of side 3: "))

Enter length of side 1:  12
Enter length of side 2:  15
Enter length of side 3:  2

In [3]:
if side1 == side2 == side3:
    print("Equilateral triangle")
elif side1 == side2 or side2 == side3 or side3 == side1:
    print("Isosceles triangle")
else:
    print("Scalene triangle")

Scalene triangle

p13

In [5]:
day_num = 7
day_num

7

In [6]:
days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
days

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [7]:
if 1 <= day_num <= 7:
    print(f"Day of the week: {days[day_num-1]}")
else:
    print("Invalid input")

Day of the week: Saturday

p14

In [8]:
year = 2000

In [9]:
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

In [10]:
if is_leap_year(year):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

2000 is a leap year

p15

In [15]:
num = 10
num

10

In [16]:
if num < 0:
    assert num >= 0, "Number cannot be negative"
elif num == 0:
    print("Zero")
else:
    print("Positive")

Positive

p 16

In [17]:
age = 25

In [18]:
if age >= 60:
    print("You are eligible for a senior citizen discount.")
else:
    print("You are not eligible for a senior citizen discount.")

You are not eligible for a senior citizen discount.

p 17

In [19]:
char = 'e'
char

'e'

In [20]:
if char.isupper():
    print("Uppercase character")
elif char.islower():
    print("Lowercase character")
else:
    print("Neither uppercase nor lowercase character")

Lowercase character

p 18

In [21]:
import math

In [22]:
a = float(input("Enter coefficient a: "))
b = float(input("Enter coefficient b: "))
c = float(input("Enter coefficient c: "))

Enter coefficient a:  3
Enter coefficient b:  4
Enter coefficient c:  5

In [23]:
discriminant = b**2 - 4*a*c

if discriminant > 0:
    root1 = (-b + math.sqrt(discriminant)) / (2*a)
    root2 = (-b - math.sqrt(discriminant)) / (2*a)
    print(f"Roots are real and distinct: {root1} and {root2}")
elif discriminant == 0:
    root1 = root2 = -b / (2*a)
    print(f"Roots are real and equal: {root1}")
else:
    real_part = -b / (2*a)
    imaginary_part = math.sqrt(-discriminant) / (2*a)
    print(f"Roots are complex: {real_part} + {imaginary_part}i and {real_part} - {imaginary_part}i")

Roots are complex: -0.6666666666666666 + 1.1055415967851332i and -0.6666666666666666 - 1.1055415967851332i

p 19

In [24]:
year

2000

In [25]:
if year % 100 == 0:
    print("It's a century year.")
else:
    print("It's not a century year.")

It's a century year.

p 20

In [26]:
num

10

In [27]:
sqrt = math.isqrt(num)

if sqrt * sqrt == num:
    print("It's a perfect square.")
else:
    print("It's not a perfect square.")

It's not a perfect square.

p 21

In [35]:
weight = float(input("Enter your weight in kilograms: "))
height_cm = float(input("Enter your height in centimeters: "))

# Convert height from centimeters to meters
height_m = height_cm / 100

bmi = weight / (height_m ** 2)

if bmi < 18.5:
    print("Underweight")
elif 18.5 <= bmi < 24.9:
    print("Normal weight")
elif 24.9 <= bmi < 29.9:
    print("Overweight")
else:
    print("Obese")
bmi

Enter your weight in kilograms:  67
Enter your height in centimeters:  173

Normal weight

22.386314277122523

p 22

In [36]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
def is_even(num):
    return num % 2 == 0

# Use filter() to get even numbers
even_numbers = list(filter(is_even, numbers))

print("Even numbers:", even_numbers)

Even numbers: [2, 4, 6, 8]

p 23

In [38]:
num

10

In [39]:
if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            print(f"{num} is not prime.")
            break
    else:
        print(f"{num} is prime.")
else:
    print(f"{num} is not prime.")

10 is not prime.

Map

1. Explain the purpose of the `map()` function in Python and provide an example of how it can be
used to apply a function to each element of an iterable.
2. Write a Python program that uses the `map()` function to square each element of a list of
numbers.
3. How does the `map()` function differ from a list comprehension in Python, and when would you
choose one over the other?
4. Create a Python program that uses the `map()` function to convert a list of names to uppercase.
5. Write a Python program that uses the `map()` function to calculate the length of each word in a
list of strings.
6. How can you use the `map()` function to apply a custom function to elements of multiple lists
simultaneously in Python?
7. Create a Python program that uses `map()` to convert a list of temperatures from Celsius to
Fahrenheit.
8. Write a Python program that uses the `map()` function to round each element of a list of
floating-point numbers to the nearest integer.

P 1

In [41]:
def double(x):
    return x * 2

In [42]:
numbers = [1, 2, 3, 4, 5]
doubled_numbers = map(double, numbers)

result = list(doubled_numbers)
print(result)

[2, 4, 6, 8, 10]

P2

In [43]:
def square(x):
    return x ** 2

squared_numbers = list(map(square, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

P3

In [44]:
''' map() applies a function to each element of an iterable and returns a map object, while list comprehensions create a new list by applying an expression to each element.'''

' map() applies a function to each element of an iterable and returns a map object, while list comprehensions create a new list by applying an expression to each element.'

P 4

In [45]:
names = ["Alice", "Bob", "Charlie"]
names

['Alice', 'Bob', 'Charlie']

In [46]:
uppercased_names = list(map(str.upper, names))
print(uppercased_names)

['ALICE', 'BOB', 'CHARLIE']

P 5

In [48]:
word_lengths = list(map(len, uppercased_names))
print(word_lengths)

[5, 3, 7]

P 6

In [49]:
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

In [50]:
def add(x, y):
    return x + y


result = list(map(add, numbers1, numbers2))
print(result)

[5, 7, 9]

P 7

In [51]:
temperatures_celsius = [25, 30, 15, 10]
temperatures_celsius

[25, 30, 15, 10]

In [52]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

temperatures_fahrenheit = list(map(celsius_to_fahrenheit, temperatures_celsius))
print(temperatures_fahrenheit)

[77.0, 86.0, 59.0, 50.0]

P 8

In [53]:
numbers = [1.5, 2.7, 3.3, 4.9]
numbers

[1.5, 2.7, 3.3, 4.9]

In [55]:
def round_to_integer(x):
    return round(x)

rounded_numbers = list(map(round_to_integer, numbers))
print(rounded_numbers)

[2, 3, 3, 5]

Reduce

1. What is the `reduce()` function in Python, and what module should you import to use it? Provide
an example of its basic usage.
2. Write a Python program that uses the `reduce()` function to find the product of all elements in a
list.
3. Create a Python program that uses `reduce()` to find the maximum element in a list of numbers.
4. How can you use the `reduce()` function to concatenate a list of strings into a single string?
5. Write a Python program that calculates the factorial of a number using the `reduce()` function.
6. Create a Python program that uses `reduce()` to find the GCD (Greatest Common Divisor) of a list
of numbers.
7. Write a Python program that uses the `reduce()` function to find the sum of the digits of a given
number.

P1

In [56]:
from functools import reduce

In [57]:
numbers

[1.5, 2.7, 3.3, 4.9]

In [61]:
def add(x, y):
    return x + y

result = reduce(add, numbers)
print(result)

12.4

P2

In [62]:
def multiply(x, y):
    return x * y

product = reduce(multiply, numbers)
print(product)

65.48850000000002

P3

In [63]:
def find_max(x, y):
    return x if x > y else y

max_value = reduce(find_max, numbers)
print(max_value)

4.9

P4

In [64]:
strings = ["Hello, ", "world, ", "what ", "is ", "up?"]
strings

['Hello, ', 'world, ', 'what ', 'is ', 'up?']

In [65]:
def concatenate_strings(x, y):
    return x + y

concatenated = reduce(concatenate_strings, strings)
print(concatenated)

Hello, world, what is up?

P5

In [66]:
n = 10
n

10

In [67]:
def factorial(x, y):
    return x * y

factorial_result = reduce(factorial, range(1, n + 1))
print(factorial_result)

3628800

P6

In [68]:
from math import gcd
# ref. https://www.w3schools.com/python/ref_math_gcd.asp

In [71]:
numbers2

[4, 5, 6]

In [74]:
gcd_result = reduce(gcd, numbers2)
print(gcd_result)

1

P7

In [76]:
number = "12345"
number

'12345'

In [77]:
def sum_digits(x, y):
    return int(x) + int(y)

digit_sum = reduce(sum_digits, number)
print(digit_sum)

15

Filter

1. Explain the purpose of the `filter()` function in Python and provide an example of how it can be
used to filter elements from an iterable.
2. Write a Python program that uses the `filter()` function to select even numbers from a list of
integers.
3. Create a Python program that uses the `filter()` function to select names that start with a specific
letter from a list of strings.
4. Write a Python program that uses the `filter()` function to select prime numbers from a list of
integers.
5. How can you use the `filter()` function to remove None values from a list in Python?
6. Create a Python program that uses `filter()` to select words longer than a certain length from a
list of strings.
7. Write a Python program that uses the `filter()` function to select elements greater than a
specified threshold from a list of values.

P1

In [80]:
numbers = [1,2,4,6,7,9]
numbers

[1, 2, 4, 6, 7, 9]

In [81]:
def is_even(x):
    return x % 2 == 0

even_numbers = filter(is_even, numbers)
filtered_list = list(even_numbers)
print(filtered_list)

[2, 4, 6]

P2

In [82]:
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6]

P3

In [83]:
names = ["Amy", "Bobby", "Charles", "David"]
names

['Amy', 'Bobby', 'Charles', 'David']

In [84]:
letter = "A"
letter

'A'

In [85]:
filtered_names = list(filter(lambda name: name.startswith(letter), names))
print(filtered_names)

['Amy']

P4

In [86]:
numbers

[1, 2, 4, 6, 7, 9]

In [87]:
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

prime_numbers = list(filter(is_prime, numbers))
print(prime_numbers)

[2, 7]

P5

In [88]:
numbers = [2, None, 865, None]
numbers

[2, None, 865, None]

In [90]:
filtered_values = list(filter(lambda x: x is not None, numbers))
print(filtered_values)

[2, 865]

P6

In [91]:
names

['Amy', 'Bobby', 'Charles', 'David']

In [92]:
length = 5

In [94]:
long_words = list(filter(lambda word: len(word) >= length, names))
print(long_words)

['Bobby', 'Charles', 'David']

P7

In [96]:
numbers = [10, 25, 5, 30, 15, 40, 20]
numbers

[10, 25, 5, 30, 15, 40, 20]

In [97]:
threshold = 15

In [98]:
filtered_values = list(filter(lambda x: x > threshold, numbers))
print(filtered_values)

[25, 30, 40, 20]

Recursion

1. Explain the concept of recursion in Python. How does it differ from iteration?
2. Write a Python program to calculate the factorial of a number using recursion.
3. Create a recursive Python function to find the nth Fibonacci number.
4. Write a recursive Python function to calculate the sum of all elements in a list.
5. How can you prevent a recursive function from running indefinitely, causing a stack overflow
error?
6. Create a recursive Python function to find the greatest common divisor (GCD) of two numbers
using the Euclidean algorithm.
7. Write a recursive Python function to reverse a string.
8. Create a recursive Python function to calculate the power of a number (x^n).
9. Write a recursive Python function to find all permutations of a given string.
10. Write a recursive Python function to check if a string is a palindrome.
11. Create a recursive Python function to generate all possible combinations of a list of elements.

P1

In [5]:
'''Recursion is to repeat. Its different than iteration as in iteration it iterated or loop until its done, where as in recursion it invokes the same function bu updating the value until its done'''

'Recursion is to repeat. Its different than iteration as in iteration it iterated or loop until its done, where as in recursion it invokes the same function bu updating the value until its done'

P2

In [1]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

result = factorial(5) 
print(result)

120

P3

In [2]:
def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

result = fibonacci(6)
print(result)

8

P4

In [3]:
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

In [4]:
def sum_list(arr):
    if not arr:
        return 0
    else:
        return arr[0] + sum_list(arr[1:])

result = sum_list(numbers) 
print(result)

15

P5

In [6]:
'''To prevent it, it should have a base case ie. a terminating condition, whereas it should move closer to the base condition on each recursion call'''

'To prevent it, it should have a base case ie. a terminating condition, whereas it should move closer to the base condition on each recursion call'

P6

In [7]:
def gcd(x, y):
    if y == 0:
        return x
    else:
        return gcd(y, x % y)

result = gcd(48, 18)  
print(result)

6

P7

In [8]:
def reverse_string(s):
    if len(s) == 0:
        return s
    else:
        return reverse_string(s[1:]) + s[0]

result = reverse_string("hello") 
print(result)

olleh

P8

In [9]:
def power(x, n):
    if n == 0:
        return 1
    else:
        return x * power(x, n - 1)

result = power(2, 3)  
print(result)

8

P9

In [10]:
def permutations(string):
    if len(string) <= 1:
        return [string]
    
    perms = []
    for char in string:
        remaining_chars = string.replace(char, '', 1)
        for perm in permutations(remaining_chars):
            perms.append(char + perm)
    
    return perms

input_string = "abc"
result = permutations(input_string)
for perm in result:
    print(perm)

abc
acb
bac
bca
cab
cba

P10

In [11]:
input_string = "racecar"
input_string

'racecar'

In [12]:
def is_palindrome(string):
    string = string.lower()
    if len(string) <= 1:
        return True
    if string[0] != string[-1]:
        return False
    return is_palindrome(string[1:-1])

if is_palindrome(input_string):
    print(f"{input_string} is a palindrome.")
else:
    print(f"{input_string} is not a palindrome.")

racecar is a palindrome.

P11

In [13]:
elements = [1, 2, 3, 4]
k = 2

In [14]:
def generate_combinations(arr, r):
    def backtrack(start, curr_combination):
        if len(curr_combination) == r:
            combinations.append(curr_combination[:])
            return

        for i in range(start, len(arr)):
            curr_combination.append(arr[i])
            backtrack(i + 1, curr_combination)
            curr_combination.pop()

    combinations = []
    backtrack(0, [])
    return combinations


combinations = generate_combinations(elements, k)
for combination in combinations:
    print(combination)

[1, 2]
[1, 3]
[1, 4]
[2, 3]
[2, 4]
[3, 4]

Basics of Functions:
1. What is a function in Python, and why is it used?
2. How do you define a function in Python? Provide an example.
3. Explain the difference between a function definition and a function call.
4. Write a Python program that defines a function to calculate the sum of two numbers and then
calls the function.
5. What is a function signature, and what information does it typically include?
6. Create a Python function that takes two arguments and returns their product.

P1

In [15]:
'''Function is used to defince behaviour of a class, it is used to reduce redundant code'''

'Function is used to defince behaviour of a class, it is used to reduce redundant code'

P2

In [16]:
def function():
    print('its a function')

In [17]:
'''To define a function, use def keywork followed by the function name'''

'To define a function, use def keywork followed by the function name'

P3

In [18]:
'''function definition is to define a function with its input parameters, its oeration and return whereas to execute this function we must have to invoke it which is function call'''

'function definition is to define a function with its input parameters, its oeration and return whereas to execute this function we must have to invoke it which is function call'

In [19]:
# funtion definition
def exampleFun():
    print("a function")

In [20]:
# function call
exampleFun()

a function

P4

In [21]:
def sumFunc(a, b):
    print(a+b)

In [22]:
sumFunc(5,6)

11

P5

In [23]:
'''Function signature is function declaration itself which provides information about function interface including name, return type and parameter set'''

'Function signature is function declaration itself which provides information about function interface including name, return type and parameter set'

It includes:
1. function name
2. return type
3. parameter set

eg. def sumnFun(x: int, y: int) -> int

P6

In [26]:
def prod(x, y):
    return x*y

prod(2,3)

6

Function Parameters and Arguments:
1. Explain the concepts of formal parameters and actual arguments in Python functions.
2. Write a Python program that defines a function with default argument values.
3. How do you use keyword arguments in Python function calls? Provide an example.
4. Create a Python function that accepts a variable number of arguments and calculates their sum.
5. What is the purpose of the `*args` and `**kwargs` syntax in function parameter lists?

P1

Formal parameter: these are the placeholder in parameter list,  they represent the values that the function expects to receive when it is invoked.

Actual argument: These are the actual values or expressions passed to a function when it is invoked.

In [27]:
def func(a, b):
    print(a + b)
    
# here, a and b are formal parameter

In [28]:
func(2, 3) # 2 and 3 are actual arguments

5

P2

In [30]:
def greet(name="Guest"): # guest as the default value arg of name
    print(f"Hello, {name}!")

greet()           
greet("Alice")

Hello, Guest!
Hello, Alice!

P3

In [35]:
def create_person(name, age, city):
    person = {"name": name, "age": age, "city": city}
    return person

person_info = create_person(name="Abc", age=30, city="Pip")

In [36]:
person_info

{'name': 'Abc', 'age': 30, 'city': 'Pip'}

P4

In [38]:
def add_numbers(*args):
    total = 0
    for num in args:
        total += num
    return total

result = add_numbers(1, 2, 3, 4, 5)
result

15

P5

*args: Allows you to pass a variable number of non-keyword (positional) arguments to a function. It collects these arguments into a tuple.

**kwargs: Allows you to pass a variable number of keyword arguments (keyword-value pairs) to a function. It collects these arguments into a dictionary.

Return Values and Scoping:
1. Describe the role of the `return` statement in Python functions and provide examples.
2. Explain the concept of variable scope in Python, including local and global variables.
3. Write a Python program that demonstrates the use of global variables within functions.
4. Create a Python function that calculates the factorial of a number and returns it.
5. How can you access variables defined outside a function from within the function?

P1

return is used to return the result when function is invoked

In [46]:
def add(a, b):
    # returning sum of a and b
    return a + b

add(2, 3)

5

P2

Local variable Scope: Variables defined inside a function. They are only accessible within that function.

Global variable scope: Variables defined outside of any function. They are accessible from any part of the code, including functions.

P3

In [51]:
tempVar = 8

def printVar():
    print(tempVar)
    
printVar()

8

P4

In [49]:
def fact(n):
    factorial = 1
    for i in range(1, n+1):
        factorial*= i
    return factorial

In [50]:
fact(5)

120

P5

To access the variable defined outside a function from within the function, use keywork global followed by the name of variable

In [52]:
tempVar

8

In [53]:
def modify():
    global tempVar
    tempVar = 18

modify()
print(tempVar)

18

Lambda Functions and Higher-Order Functions:
1. What are lambda functions in Python, and when are they typically used?
2. Write a Python program that uses lambda functions to sort a list of tuples based on the second
element.
3. Explain the concept of higher-order functions in Python, and provide an example.
4. Create a Python function that takes a list of numbers and a function as arguments, applying the
function to each element in the list.

P1

Lambda functions, also known as anonymous functions or lambda expressions, are small, inline functions defined using the lambda keyword.
They are typically used when you need a simple function for a short period and don't want to define a separate named function using def

P2

In [54]:
data = [(3, 10), (1, 5), (2, 8)]
data

[(3, 10), (1, 5), (2, 8)]

In [55]:
sorted_data = sorted(data, key=lambda x: x[1])
sorted_data

[(1, 5), (2, 8), (3, 10)]

P3

Higher-order functions are functions that can accept other functions as arguments, return functions as results, or both.

In [56]:
def apply(func, x):
    return func(x)

squared = apply(lambda x: x ** 2, 5) 
squared

25

P4

In [57]:
numbers = [1, 2, 3, 4]
numbers

[1, 2, 3, 4]

In [58]:
def apply_function_to_list(func, num_list):
    result = []
    for num in num_list:
        result.append(func(num))
    return result

squared_numbers = apply_function_to_list(lambda x: x ** 2, numbers)
squared_numbers

[1, 4, 9, 16]

Built-in Functions:
1. Describe the role of built-in functions like `len()`, `max()`, and `min()` in Python.
2. Write a Python program that uses the `map()` function to apply a function to each element of a
list.
3. How does the `filter()` function work in Python, and when would you use it?
4. Create a Python program that uses the `reduce()` function to find the product of all elements in
a list

P1

len()-> to get the length or the total # of elements in a sqquence such as string or list etc.

max()-> it is used to get the maximum element/value from the sequence of elements

min()-> to get the minimum value from the sequence of elements

P2

In [59]:
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

In [61]:
squared_numbers = map(lambda x: x**2, numbers)
list(squared_numbers)

[1, 4, 9, 16, 25]

P3

It filters elements from an iterable based on a given function that returns True or False

We should use it when we want to iterate and check condition for a seq.

P4

In [62]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

In [63]:
product = reduce(lambda x, y: x * y, numbers)  # Returns 120 (1 * 2 * 3 * 4 * 5)
product

120

Function Documentation and Best Practices:

1. Explain the purpose of docstrings in Python functions and how to write them.
2. Describe some best practices for naming functions and variables in Python, including naming conventions and guidelines.

P1

Docstrings: 
1. Documentation strings are used to document functions, classes etc. They describes what a function does, its paramaters, return value etc. 
2. It is enclosed with '''/ """ (triple quotes)

In [66]:
# ref. https://www.geeksforgeeks.org/python-docstrings/
def add(a, b):
    """
    This function calculates the sum of two numbers.

    Parameters:
    a (int): The first number.
    b (int): The second number.

    Returns:
    int: The sum of the two numbers.
    """
    return a + b

In [67]:
help(add)

Help on function add in module __main__:

add(a, b)
    This function calculates the sum of two numbers.

    Parameters:
    a (int): The first number.
    b (int): The second number.

    Returns:
    int: The sum of the two numbers.

P2

ref.

1.https://peps.python.org/pep-0008/

2.https://visualgit.readthedocs.io/en/latest/index.html

1. Use Descriptive Names:

Choose names that describe the purpose or functionality of the function or variable.
Avoid generic or overly short names like a, x, or temp. Instead, use descriptive names like total_count or calculate_average.


2. Follow PEP 8:

PEP 8 is the Python Enhancement Proposal that provides style guidelines for writing clean and readable code in Python.
Adhere to PEP 8 conventions, which include:

2.1.  Indentation
Lines should be indented with a multiple of 4 spaces depending on indent level

2.2. Blank Lines
Leave 2 blank lines between class definitions and module-level functions

2.3. Comments
comments should be up to date and accurate. When updating code, always make sure to update any comments that refer to it

2.4. Docstring Comments
Docstring comments should consist of a short summary line


3. Be Consistent:

Maintain consistency in naming across your codebase. If you use a particular naming convention or pattern, stick to it throughout your code.
Consistency makes your code more predictable and easier to understand.


4. Avoid Reserved Words:

Do not use Python's reserved words or keywords (e.g., if, while, for) as variable or function names, as this can lead to confusion and errors.


5. Use Meaningful Parameters:
- When defining function parameters, use meaningful names that indicate the purpose of each parameter.
- Avoid using single-letter parameter names like x, y, or z unless they have a clear and widely understood meaning within the context.