TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
tempStr = "something"

In [2]:
revStr = tempStr[::-1]
print(revStr)

gnihtemos

2. Check if a string is a palindrome.

In [3]:
tempStr = "RaceCar"

In [4]:
revTempStr = tempStr[::-1]

In [5]:
isPalindrome = tempStr.lower() == revTempStr.lower()

isPalindrome

True

3. Convert a string to uppercase.

In [6]:
tempStr = "lower cased string"

In [7]:
upperTempStr = tempStr.upper()

upperTempStr

'LOWER CASED STRING'

4. Convert a string to lowercase.

In [8]:
print(upperTempStr.lower())

lower cased string

5. Count the number of vowels in a string.

In [9]:
vowels = ('a', 'e', 'i', 'o', 'u')

In [10]:
tempStr = "its a string with some vowels and some consonants"

In [11]:
vowelCount = 0

for i in vowels:
    vowelCount += tempStr.count(i)
        
print(vowelCount)

14

6. Count the number of consonants in a string.

In [12]:
consonantCount = 0

for i in tempStr:
    if i not in vowels:
        consonantCount += 1
        
print(consonantCount)

35

7. Remove all whitespaces from a string.

In [13]:
tempStr

'its a string with some vowels and some consonants'

In [14]:
tempStr.replace(' ','')

'itsastringwithsomevowelsandsomeconsonants'

8. Find the length of a string without using the `len()` function.

In [15]:
tempStr = "string length"

In [16]:
strLength = 0

for ch in tempStr:
    strLength += 1
    
print(strLength)

13

9. Check if a string contains a specific word.

In [17]:
tempStr

'string length'

In [18]:
specificWord = 'l'

In [19]:
contains = tempStr.find(specificWord) != -1
print(contains)

True

10. Replace a word in a string with another word.

In [23]:
tempStr

'string length'

In [26]:
replaceTo = "width"
replaceWith = "length"

In [27]:
tempStr.replace(replaceWith, replaceTo)

'string width'

11. Count the occurrences of a word in a string.

In [28]:
tempStr = "alphamottito"

In [29]:
word = 't'

In [30]:
tempStr.count(word)

3

12. Find the first occurrence of a word in a string.

In [31]:
tempStr

'alphamottito'

In [32]:
word

't'

In [33]:
contain = tempStr.find(word) != -1

if(contain):
    print(tempStr.find(word))

7

13. Find the last occurrence of a word in a string.

In [34]:
tempStr

'alphamottito'

In [35]:
word

't'

In [36]:
tempStr.rfind(word)

10

14. Split a string into a list of words.

In [37]:
tempStr = "14. Split a string into a list of words."

In [38]:
tempList = tempStr.split()

print(tempList)

['14.', 'Split', 'a', 'string', 'into', 'a', 'list', 'of', 'words.']

15. Join a list of words into a string.

In [39]:
tempList

['14.', 'Split', 'a', 'string', 'into', 'a', 'list', 'of', 'words.']

In [40]:
tempStr = ' '.join(tempList)
tempStr

'14. Split a string into a list of words.'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [41]:
tempStr1 = "word are separated by space"
tempStr1

'word are separated by space'

In [42]:
tempStr1.replace(" ", "_")

'word_are_separated_by_space'

17. Check if a string starts with a specific word or phrase.

In [43]:
tempStr = "Check if a string starts with a specific word or phrase."

tempStr

'Check if a string starts with a specific word or phrase.'

In [44]:
startWord = "Check"

In [45]:
if(tempStr.startswith(startWord)):
    print("yes")
else:
    print("no")

yes

18. Check if a string ends with a specific word or phrase.

In [46]:
tempStr = "Check if a string ends with a specific word or phrase."

tempStr

'Check if a string ends with a specific word or phrase.'

In [47]:
endWord = 'phrase.'

In [48]:
if(tempStr.endswith(endWord)):
    print("yes")
else:
    print("no")

yes

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [49]:
tempStr = 'hello world'
tempStr

'hello world'

In [50]:
tempStr.title()

'Hello World'

20. Find the longest word in a string.

In [51]:
tempStr = "Find the longest word in a string."
tempStr

'Find the longest word in a string.'

In [53]:
words = tempStr.split()

words

['Find', 'the', 'longest', 'word', 'in', 'a', 'string.']

In [54]:
punctuation = set("!'#$%&'()*+,-./:;<=>?@[\]^_`{|}~")

In [55]:
longest_word = ""
max_length = 0

for word in words:
    cleaned_word = ''.join(char for char in word if char not in punctuation)
    word_length = len(cleaned_word)

    if word_length > max_length:
        longest_word = cleaned_word
        max_length = word_length
        
print(longest_word)

longest

21. Find the shortest word in a string.

In [56]:
shortest_word = ""
min_length = len(words[0])

for word in words:
    cleaned_word = ''.join(char for char in word if char not in punctuation)
    word_length = len(cleaned_word)

    if word_length < min_length:
        shortest_word = cleaned_word
        min_length = word_length
        
print(shortest_word)

a

22. Reverse the order of words in a string.

In [57]:
tempStr = 'Reverse the order of words in a string.'

tempStr

'Reverse the order of words in a string.'

In [58]:
tempStr = " ".join(tempStr.split(' ')[::-1])

tempStr

'string. a in words of order the Reverse'

23. Check if a string is alphanumeric.

In [59]:
tempStr = 'alpha1243'
tempStr

'alpha1243'

In [60]:
if(tempStr.isalnum):
    print("yes")
else:
    print("no")

yes

24. Extract all digits from a string.

In [61]:
tempStr

'alpha1243'

In [62]:
tempDigit = ""

for ch in tempStr:
    if(ch.isnumeric()):
        tempDigit += ch
        
print(tempDigit)

1243

25. Extract all alphabets from a string.

In [63]:
tempStr

'alpha1243'

In [64]:
tempAlpha = ""

for ch in tempStr:
    if(ch.isalpha()):
        tempAlpha += ch
        
print(tempAlpha)

alpha

26. Count the number of uppercase letters in a string.

In [65]:
tempStr = "bothUpperAndLowerCasing"
tempStr

'bothUpperAndLowerCasing'

In [66]:
tempUpperCasing = ""

for ch in tempStr:
    if(ch.isupper()):
        tempUpperCasing += ch
        
print("upper letters: "+ tempUpperCasing)
print("length: " + str(len(tempUpperCasing)))

upper letters: UALC
length: 4

27. Count the number of lowercase letters in a string.|

In [88]:
tempStr

'bothUpperAndLowerCasing'

In [90]:
tempLowerCasing = ""

for ch in tempStr:
    if(ch.islower()):
        tempLowerCasing += ch
        
print("lower letters: "+ tempLowerCasing)
print("length: " + str(len(tempLowerCasing)))

lower letters: bothpperndowerasing
length: 19

28. Swap the case of each character in a string.

In [91]:
tempStr

'bothUpperAndLowerCasing'

In [ ]:
swappedString = ""

for ch in tempStr:
    if ch.isupper():
        swappedString += ch.lower()
    elif ch.islower():
        swappedString += ch.upper()
    else:
        swappedString += ch
        
print(swappedString)

BOTHuPPERaNDlOWERcASING

29. Remove a specific word from a string.

In [100]:
tempStr = "Remove a specific word from a string."
tempStr

'Remove a specific word from a string.'

In [101]:
word = "specific"
word

'specific'

In [102]:
tempStr = tempStr.replace(word, "")
tempStr

'Remove a  word from a string.'

30. Check if a string is a valid email address.

31. Extract the username from an email address string.

In [85]:
email = "intern@pwskills.com"
email

'intern@pwskills.com'

In [86]:
symbolToSplit = "@"

In [87]:
afterSymbol = email.split(symbolToSplit)
afterSymbol

['intern', 'pwskills.com']

In [88]:
username = afterSymbol[0]

In [89]:
print(username)

intern

32. Extract the domain name from an email address string.

In [90]:
domainSplitSymbol = "."

In [91]:
afterDomainSymbolSplit = afterSymbol[1].split(domainSplitSymbol)
afterDomainSymbolSplit

['pwskills', 'com']

In [92]:
domain = afterDomainSymbolSplit[0]

print(domain)

pwskills

33. Replace multiple spaces in a string with a single space.

In [93]:
stringWithspaces = "uig iogh   iuygb hgi "

In [94]:
words = stringWithspaces.split()
words

['uig', 'iogh', 'iuygb', 'hgi']

In [95]:
stringWithspaces = " ".join(words)
stringWithspaces

'uig iogh iuygb hgi'

34. Check if a string is a valid URL.

In [96]:
url = "https://www.pwskills.com"
url

'https://www.pwskills.com'

In [99]:
if url.startswith('https://') or url.startswith('http://'):
    if '.' in url[url.index('/')+1:]:
        print("yes its valid")
    else:
        print("no, its invalid")

yes its valid

35. Extract the protocol (http or https) from a URL string.

In [100]:
url

'https://www.pwskills.com'

In [101]:
protocol = url.split(':')[0]
protocol

'https'

36. Find the frequency of each character in a string.

In [141]:
tempStr = 'submariane in the iceland, in the super cold atmoshpere'
tempStr

'submariane in the iceland, in the super cold atmoshpere'

In [142]:
frequency_dict = {} # creating a dict object, key: character and value: is frequency

for ch in tempStr:
    if ch in frequency_dict:
        frequency_dict[ch] += 1
    else:
        frequency_dict[ch] = 1
        
frequency_dict

{'s': 3,
 'u': 2,
 'b': 1,
 'm': 2,
 'a': 4,
 'r': 3,
 'i': 4,
 'n': 4,
 'e': 7,
 ' ': 8,
 't': 3,
 'h': 3,
 'c': 2,
 'l': 2,
 'd': 2,
 ',': 1,
 'p': 2,
 'o': 2}

37. Remove all punctuation from a string.

In [148]:
# defining a set of punctuation characters
punctuation_chars = "!\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~"
punctuation_chars

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [149]:
tempStr = 'submariane in the iceland, in the super cold atmoshpere!'
tempStr

'submariane in the iceland, in the super cold atmoshpere!'

In [150]:
result_str = ""
for ch in tempStr:
    if ch not in punctuation_chars:
        result_str += ch
        
result_str

'submariane in the iceland in the super cold atmoshpere'

38. Check if a string contains only digits.

In [151]:
stringWithOnlyDigits = "123"
stringWithOnlyDigits

'123'

In [152]:
stringWithDigit = "124ujhiu3"
stringWithDigit

'124ujhiu3'

In [153]:
stringWithOnlyDigits.isdigit()

True

In [154]:
stringWithDigit.isdigit()

False

39. Check if a string contains only alphabets.

In [157]:
stringWithAlphaOnly = "alphaonly"
stringWithAlphaOnly

'alphaonly'

In [158]:
stringWithAlphaOnly.isalpha()

True

In [159]:
stringWithAlpha = "alpha but not only"
stringWithAlpha

'alpha but not only'

In [160]:
stringWithAlpha.isalpha()

False

40. Convert a string to a list of characters.

In [161]:
stringOfChar = "aeiou"
stringOfChar

'aeiou'

In [164]:
list(stringOfChar)

['a', 'e', 'i', 'o', 'u']

45. Find all unique words in a string.

In [83]:
tempStr = 'submariane in the iceland, in the super cold atmoshpere'
tempStr

'submariane in the iceland, in the super cold atmoshpere'

41. Check if two strings are anagrams.

In [170]:
# An anagram of a string is another string that contains the same characters, only the order of characters can be different

In [171]:
str1 = 'Listen'
str1

'Listen'

In [172]:
str2 = 'silent'
str2

'silent'

In [173]:
sorted(str1.lower()) == sorted(str2.lower())

True

42. Encode a string using a Caesar cipher.

In [174]:
#  each letter of a given text is replaced by a letter with a fixed number of positions down the alphabet

In [68]:
numberToShift = 2

In [69]:
tempStr ='submariane in the iceland, in the super cold atmoshpere!'

In [70]:
encodedStr = ''

for ch in tempStr:
    if ch.isalpha():
        if ch.isupper():
            start = ord('A') # https://www.w3schools.com/python/ref_func_ord.asp, its to get unicode i.e. numeric defined int number of the 'A' character
        else:
            start = ord('a')
            
        shiftedCh = chr((ord(ch) - start + numberToShift)%26 + start) 
        encodedStr += shiftedCh
    else:
        encodedStr += ch
        
print(encodedStr)

uwdoctkcpg kp vjg kegncpf, kp vjg uwrgt eqnf cvoqujrgtg!

43. Decode a Caesar cipher encoded string.

In [178]:
decodedStr = ''

for ch in encodedStr:
    if ch.isalpha():
        if ch.isupper():
            start = ord('A') # https://www.w3schools.com/python/ref_func_ord.asp, its to get unicode i.e. numeric defined int number of the 'A' character
        else:
            start = ord('a')
            
        shiftedCh = chr((ord(ch) - start - numberToShift)%26 + start) 
        decodedStr += shiftedCh
    else:
        decodedStr += ch
        
print(decodedStr)

submariane in the iceland, in the super cold atmoshpere!

44. Find the most frequent word in a string.

In [180]:
tempStr

'submariane in the iceland, in the super cold atmoshpere!'

In [185]:
tempSet = set(tempStr.split())
tempSet

{'atmoshpere!', 'cold', 'iceland,', 'in', 'submariane', 'super', 'the'}

In [186]:
frequency_dict = {}

for ch in tempSet:
    if ch in frequency_dict:
        pass
    else:
        frequency_dict[ch] = tempStr.count(ch)
        
frequency_dict

{'in': 2,
 'atmoshpere!': 1,
 'the': 2,
 'super': 1,
 'cold': 1,
 'submariane': 1,
 'iceland,': 1}

In [187]:
mostFrequent = max(frequency_dict, key = frequency_dict.get)
mostFrequent

'in'

45. Find all unique words in a string.

In [190]:
uniqueWordList = []

for item in frequency_dict.keys():
    if frequency_dict[item] == 1:
        uniqueWordList.append(item)
        
print(uniqueWordList)

['atmoshpere!', 'super', 'cold', 'submariane', 'iceland,']

46. Count the number of syllables in a string.

In [191]:
# a word or part of a word which contains one vowel sound

In [200]:
vowel_combinations = ["ai", "au", "ay", "ea", "ee", "ei", "ey", "ie", "oa", "oo", "ou", "oy", "ua", "ue", "ui", "uo"]
vowels = "aeiouAEIOU"

In [201]:
tempStr

'submariane in the iceland, in the super cold atmoshpere!'

In [202]:
words = tempStr.split()
words

['submariane',
 'in',
 'the',
 'iceland,',
 'in',
 'the',
 'super',
 'cold',
 'atmoshpere!']

In [203]:
syllablesCount = 0

for i in words:
    prevCh = ''
    tempcount = 0
    for ch in i:
        if ch in vowels:
            if prevCh not in vowels:
                tempcount += 1
        elif ch + prevCh in vowel_combinations:
            tempcount += 1
        prevCh = ch
    # count for words ending in "e" or "es"
    if i.endswith("e") and not i.endswith("le") and len(i) > 1:
        tempcount -= 1 
    syllablesCount += max(tempcount, 1)
    
syllablesCount

15

47. Check if a string contains any special characters.

In [72]:
special_characters = "!\"#$%&'()*+,-‑.;"

In [73]:
tempStr = "tocheck, characters are special? or not!"

In [75]:
for i in tempStr:
    if i in special_characters:
        print("yes the string have special char")
        break

yes the string have special char

48. Remove the nth word from a string.

In [106]:
tempStr = "remove the word"

In [ ]:
# type 1: to remove word, not character

In [104]:
n = 1

In [107]:
words = tempStr.split()
words

['remove', 'the', 'word']

In [110]:
tempStr = " ".join(words[:n] + words[n+1:])
tempStr

'remove word'

In [111]:
n = 5

In [112]:
# type 2: to remove character, not word
if n < 0 or n > len(tempStr):
    print('position is above length bound')
else:
    newString = tempStr[:n] + tempStr[n+1:]
newString

'remov word'

49. Insert a word at the nth position in a string.

In [115]:
# type 1: word

In [133]:
original_string = "Hello, world!"
original_string

'Hello, world!'

In [134]:
word_to_insert = "beautiful"

pos = 6

In [135]:
tempStr = original_string[:pos] + word_to_insert + original_string[pos:]

tempStr

'Hello,beautiful world!'

In [136]:
# type 2: character

In [137]:
tempStr = "insertion"
tempStr

'insertion'

In [138]:
ch = 'a'
pos = 3

In [139]:
if len(tempStr) < pos or pos < 0:
    print('incorrect position')
else:
    # Insert the word at the specified position
    new_string = tempStr[:pos] + ch + tempStr[pos:] # created newString as the string object is immutable
    
new_string

'insaertion'

50. Convert a CSV string to a list of lists.

In [58]:
# Sample CSV string
csv_data = """Name,Age,Location
Alice,25,New York
Bob,30,Los Angeles
Charlie,22,San Francisco
"""

csv_data

'Name,Age,Location\nAlice,25,New York\nBob,30,Los Angeles\nCharlie,22,San Francisco\n'

In [59]:
# Split the CSV string into lines
csv_lines = csv_data.split('\n')

# Initialize a list to store the rows from the CSV
csv_list = []

# Iterate through the lines and split each line by commas
for line in csv_lines:
    csv_list.append(line.split(','))

print(csv_list)

[['Name', 'Age', 'Location'], ['Alice', '25', 'New York'], ['Bob', '30', 'Los Angeles'], ['Charlie', '22', 'San Francisco'], ['']]

50.1. Convert a CSV string to a list of lists.

In [60]:
csv_lines

['Name,Age,Location',
 'Alice,25,New York',
 'Bob,30,Los Angeles',
 'Charlie,22,San Francisco',
 '']

TOPIC: List Based Practice Problem

1. Create a list with integers from 1 to 10.

In [144]:
tempList = [1,2,3,4,5,6,7,8,9,10]
tempList

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [145]:
listLength = 0

for ch in tempList:
    listLength += 1
    
print(listLength)

10

3. Append an element to the end of a list.

In [8]:
element = 50

In [9]:
tempList.append(element)

print(tempList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 50]

4. Insert an element at a specific index in a list.

In [10]:
element = 25

In [11]:
index = 4

In [12]:
tempList.insert(index, element)

In [13]:
tempList

[1, 2, 3, 4, 25, 5, 6, 7, 8, 9, 10, 50]

5. Remove an element from a list by its value.

In [14]:
element = 10

In [15]:
tempList.remove(element)

In [16]:
tempList

[1, 2, 3, 4, 25, 5, 6, 7, 8, 9, 50]

6. Remove an element from a list by its index.

In [17]:
index = 2

In [18]:
tempList.pop(index)

3

In [19]:
tempList

[1, 2, 4, 25, 5, 6, 7, 8, 9, 50]

7. Check if an element exists in a list.

In [20]:
element = 5

In [21]:
check = False

for ele in tempList: # using loop
    if ele == element:
        check = True
        break
        
print(check)

True

In [22]:
check = element in tempList
        
print(check)

True

8. Find the index of the first occurrence of an element in a list.

In [23]:
tempList

[1, 2, 4, 25, 5, 6, 7, 8, 9, 50]

In [24]:
tempList.append(4)

tempList

[1, 2, 4, 25, 5, 6, 7, 8, 9, 50, 4]

In [25]:
element = 4

In [26]:
if element in tempList:
    index = tempList.index(element)
    print(index)
    
else:
    print("element not found")

2

9. Count the occurrences of an element in a list.

In [27]:
element

4

In [28]:
tempList.count(element)

2

10. Reverse the order of elements in a list.

In [36]:
revList = tempList[::-1]
revList

[4, 50, 9, 8, 7, 6, 5, 25, 4, 2, 1]

11. Sort a list in ascending order.

In [37]:
revList

[4, 50, 9, 8, 7, 6, 5, 25, 4, 2, 1]

In [38]:
revList.sort(reverse=False)

In [39]:
revList

[1, 2, 4, 4, 5, 6, 7, 8, 9, 25, 50]

12. Sort a list in descending order.

In [40]:
revList.sort(reverse= True)

revList

[50, 25, 9, 8, 7, 6, 5, 4, 4, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [41]:
evenList = [x for x in range(1, 21) if x % 2 == 0]

evenList

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [42]:
oddList = [x for x in range(1, 21) if x %2 ==1 ]

In [43]:
oddList

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [47]:
tempList

[1, 2, 4, 25, 5, 6, 7, 8, 9, 50, 4]

In [48]:
sum(tempList)

121

16. Find the maximum value in a list.

In [ ]:
max(tempList)

50

17. Find the minimum value in a list.

In [50]:
min(tempList)

1

18. Create a list of squares of numbers from 1 to 10.|

In [51]:
squaredList = [x**2 for x in range(1,11)]

In [52]:
squaredList

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [60]:
import random # importing random

In [61]:
startNum = 1

In [62]:
endRange = 100

In [63]:
listLen = 10

In [64]:
random_numbers = [random.randint(startNum, endRange) for _ in range(listLen)]

In [65]:
random_numbers

[38, 54, 13, 65, 5, 14, 98, 45, 32, 19]

20. Remove duplicates from a list.

In [67]:
tempList = [1,2,2,2,5,7]

tempList

[1, 2, 2, 2, 5, 7]

In [68]:
tempSet = set(tempList)

tempSet

{1, 2, 5, 7}

In [69]:
tempList = list(tempSet)

tempList

[1, 2, 5, 7]

21. Find the common elements between two lists.

In [70]:
tempList1 = [1,3,3,5]
tempList2 = [2,3,5]

In [72]:
commonList = [x for x in set(tempList1) if x in tempList2]

commonList

[3, 5]

22. Find the difference between two lists.

In [79]:
list1 = [1, 2, 3, 4, 5, 5]
list2 = [3, 4, 5, 6, 7]

In [80]:
difference = [x for x in list1 if x not in list2]

In [81]:
difference

[1, 2]

23. Merge two lists.

In [82]:
mergedList = list1 + list2

In [83]:
mergedList

[1, 2, 3, 4, 5, 5, 3, 4, 5, 6, 7]

24. Multiply all elements in a list by 2.

In [94]:
list1

[1, 2, 3, 4, 5, 5]

In [95]:
tempList = [x*2 for x in list1]

In [96]:
tempList

[2, 4, 6, 8, 10, 10]

25. Filter out all even numbers from a list.

In [97]:
filteredList = [x for x in tempList if x%2 != 0]

In [98]:
filteredList

[]

26. Convert a list of strings to a list of integers.

In [99]:
strList = ["1", "2"]

strList

['1', '2']

In [101]:
tempList = [int(x) for x in strList]

In [102]:
tempList

[1, 2]

27. Convert a list of integers to a list of strings.

In [103]:
tempList

[1, 2]

In [104]:
tempList = [str(x) for x in strList]

In [105]:
tempList

['1', '2']

28. Flatten a nested list.

In [106]:
nested_list = [1, [2, 3], [4, [5, 6]], 7]

In [107]:
flat_list = []

# starting variable
i = 0
while i < len(nested_list):
    if type(nested_list[i]) == list:
        # If the element is a list, extend the current list with its elements
        nested_list.extend(nested_list[i])
    else:
        # If the element is not a list, add it to the flat list
        flat_list.append(nested_list[i])
    i += 1

print(flat_list)

[1, 7, 2, 3, 4, 5, 6]

29. Create a list of the first 10 Fibonacci numbers.

In [108]:
# init the list of first two variables

fibList = [0,1]

while len(fibList) <10:
    nextFib = fibList[-1] + fibList[-2]
    fibList.append(nextFib)
    
print(fibList)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [112]:
tempList = fibList

tempList

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [115]:
sortedList = sorted(tempList)

In [116]:
sortedList

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [117]:
sortedList == tempList

True

31. Rotate a list to the left by `n` positions.

In [118]:
tempList

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [119]:
nPos = 4

In [121]:
nPos = nPos % len(tempList) # to make it sure the n should be in range below the lenght of list

rotList = tempList[nPos:] + tempList[:nPos]

rotList

[3, 5, 8, 13, 21, 34, 0, 1, 1, 2]

32. Rotate a list to the right by `n` positions.

In [122]:
nPos = nPos % len(tempList) # to make it sure the n should be in range below the lenght of list

rotList = tempList[:nPos] + tempList[nPos:]

rotList

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

33. Create a list of prime numbers up to 50.

In [125]:
prime_numbers = []

for num in range(2, 51):
    is_prime = True
    for divisor in range(2, int(num ** 0.5) + 1):
        if num % divisor == 0:
            is_prime = False
            break
    if is_prime:
        prime_numbers.append(num)

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [126]:
tempList = prime_numbers

In [127]:
chunk = 5

In [130]:
chunkedList = [tempList[i:i + chunk] for i in range(0, len(tempList), chunk)]

In [131]:
chunkedList

[[2, 3, 5, 7, 11], [13, 17, 19, 23, 29], [31, 37, 41, 43, 47]]

35. Find the second largest number in a list.

In [132]:
tempList

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [133]:
sorted(tempList)[-2]

43

36. Replace every element in a list with its square.

In [134]:
tempList = [i**2 for i in tempList]

tempList

[4, 9, 25, 49, 121, 169, 289, 361, 529, 841, 961, 1369, 1681, 1849, 2209]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [137]:
tempdict = {}
for index, item in enumerate(tempList):
    tempdict[item] = index
    
print(tempdict)

{4: 0, 9: 1, 25: 2, 49: 3, 121: 4, 169: 5, 289: 6, 361: 7, 529: 8, 841: 9, 961: 10, 1369: 11, 1681: 12, 1849: 13, 2209: 14}

38. Shuffle the elements of a list randomly.

In [138]:
random.shuffle(tempList) # ref. https://www.geeksforgeeks.org/python-ways-to-shuffle-a-list/

In [140]:
tempList

[289, 2209, 49, 121, 841, 529, 169, 1681, 1369, 361, 1849, 4, 9, 961, 25]

39. Create a list of the first 10 factorial numbers.|

In [144]:
factorialTemp = []
for i in range(0, 11):
    mul = 1
    for n in range(1, i+1):
        mul *= n
    factorialTemp.append(mul)
    
print(factorialTemp)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [145]:
list1

[1, 2, 3, 4, 5, 5]

In [146]:
list2

[3, 4, 5, 6, 7]

In [148]:
eleCommon = False

eleCommon = any(ele in list2 for ele in list1)
        
print(eleCommon)

True

41. Remove all elements from a list.

In [149]:
list1

[1, 2, 3, 4, 5, 5]

In [150]:
list1.clear()

In [151]:
list1

[]

42. Replace negative numbers in a list with 0.

In [152]:
list1 = [0,20,4,-32]

list1

[0, 20, 4, -32]

In [156]:
for index, item in enumerate(list1):
    if item < 0:
        list1[index] = 0
    
print(list1)

[0, 20, 4, 0]

43. Convert a string into a list of words.

In [157]:
tempStr = "some random string"
tempStr

'some random string'

In [160]:
tempStr = tempStr.split()

tempStr

['some', 'random', 'string']

44. Convert a list of words into a string.

In [161]:
tempStr

['some', 'random', 'string']

In [162]:
tempStr = " ".join(tempStr)

tempStr

'some random string'

45. Create a list of the first `n` powers of 2.

In [163]:
n = 5

In [164]:
tempList = [x**2 for x in range(1, n+1)]

tempList

[1, 4, 9, 16, 25]

46. Find the longest string in a list of strings.

In [165]:
tempStr

'some random string'

In [166]:
tempStr = tempStr.split()
tempStr

['some', 'random', 'string']

In [167]:
max(tempStr, key = len)

'random'

47. Find the shortest string in a list of strings.

In [168]:
min(tempStr, key = len)

'some'

48. Create a list of the first `n` triangular numbers.|

The nth triangular number can be calculated as (n * (n + 1)) / 2

In [169]:
n = 10  

triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]

print(triangular_numbers)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

49. Check if a list contains another list as a subsequence.

In [178]:
list1 = [1, 2, 3, 4, 5]
list2 = [2, 4]

In [179]:
is_subsequence = all(item in list1 for item in list2)

print(is_subsequence)

True

50. Swap two elements in a list by their indices.

In [170]:
ind1 = 4
ind2 = 6

In [172]:
tempList = list(range(1, 12))
tempList

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [173]:
tempList[ind1], tempList[ind2] = tempList[ind2], tempList[ind1]

tempList

[1, 2, 3, 4, 7, 6, 5, 8, 9, 10, 11]

TOPIC: Tuple Based Practice Problem

1. Create a tuple with integers from 1 to 5.

In [146]:
tempTuple = tuple(range(1,6))

tempTuple

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [2]:
tempTuple[2]

3

3. Find the length of a tuple without using the `len()` function.

In [147]:
tupleLength = 0

for i in tempTuple:
    tupleLength+=1
print(tupleLength)

5

4. Count the occurrences of an element in a tuple.

In [4]:
tempTuple = [1,2,2,3,4]
tempTuple

[1, 2, 2, 3, 4]

In [5]:
element = 2

In [6]:
tempTuple.count(element)

2

5. Find the index of the first occurrence of an element in a tuple.

In [7]:
tempTuple.index(2)

1

6. Check if an element exists in a tuple.

In [8]:
element in tempTuple

True

7. Convert a tuple to a list.

In [11]:
tempTuple = list(tempTuple)
tempTuple

[1, 2, 2, 3, 4]

8. Convert a list to a tuple.

In [12]:
tempTuple = tuple(tempTuple)

tempTuple

(1, 2, 2, 3, 4)

9. Unpack the elements of a tuple into variables.

In [13]:
a, b, c, d, e = tempTuple

In [14]:
a

1

In [15]:
b

2

In [16]:
c

2

In [17]:
d

3

In [18]:
e

4

10. Create a tuple of even numbers from 1 to 10.

In [19]:
tempTuple = tuple(x for x in range(1, 11) if x%2 == 0)

tempTuple

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [20]:
tempTuple = tuple(x for x in range(1, 11) if x%2 != 0)

tempTuple

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [23]:
tuple1 = (1,2,3)
tuple1

(1, 2, 3)

In [24]:
tuple2 = (0,9,8)
tuple2

(0, 9, 8)

In [25]:
tuple3 = tuple1 + tuple2

tuple3 # concatednated tuple

(1, 2, 3, 0, 9, 8)

13. Repeat a tuple three times.

In [26]:
tuple1

(1, 2, 3)

In [27]:
tuple1 * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [28]:
len(tempTuple) == 0

False

15. Create a nested tuple.

In [29]:
tempTuple = (1,2,3,(4,5))

tempTuple

(1, 2, 3, (4, 5))

16. Access the first element of a nested tuple.

In [30]:
tempTuple[3][0]

4

17. Create a tuple with a single element.

In [32]:
tempTuple = (1,) # if not adding comma, its treating it as an int only
tempTuple

(1,)

18. Compare two tuples.

In [33]:
tuple1

(1, 2, 3)

In [34]:
tuple2

(0, 9, 8)

In [35]:
tuple1 == tuple2

False

In [36]:
tuple3 = (1,2,3)

In [37]:
tuple1 == tuple3

True

In [52]:
tuple2 > tuple3

False

19. Delete a tuple.

In [38]:
del tuple1

20. Slice a tuple.

In [41]:
tempTuple = (1,2,(3,5))
tempTuple

(1, 2, (3, 5))

In [42]:
tempTuple[0:2]

(1, 2)

In [43]:
tempTuple[2:]

((3, 5),)

21. Find the maximum value in a tuple.

In [45]:
tuple2

(0, 9, 8)

In [46]:
max(tuple2)

9

22. Find the minimum value in a tuple.

In [47]:
min(tuple2)

0

23. Convert a string to a tuple of characters.

In [48]:
tempStr = "some alpha and others are numerics"
tempStr

'some alpha and others are numerics'

In [49]:
tempList = tempStr.split()
tempTuple = tuple(tempList)
tempTuple

('some', 'alpha', 'and', 'others', 'are', 'numerics')

24. Convert a tuple of characters to a string.

In [50]:
" ".join(tempTuple)

'some alpha and others are numerics'

25. Create a tuple from multiple data types.

In [51]:
tempTuple = (1, "a", 1.5)
tempTuple

(1, 'a', 1.5)

26. Check if two tuples are identical.

In [53]:
tuple1 = (1,2)
tuple1

(1, 2)

In [54]:
tuple2 = (1,2)
tuple2

(1, 2)

In [55]:
tuple1 == tuple2

True

27. Sort the elements of a tuple.

In [56]:
tempTuple = (9,8,7,6,5,4)
tempTuple

(9, 8, 7, 6, 5, 4)

In [57]:
sorted(tempTuple)

[4, 5, 6, 7, 8, 9]

28. Convert a tuple of integers to a tuple of strings.

In [58]:
tempTuple

(9, 8, 7, 6, 5, 4)

In [59]:
tempTuple = tuple(str(i) for i in tempTuple)

In [60]:
tempTuple

('9', '8', '7', '6', '5', '4')

29. Convert a tuple of strings to a tuple of integers.

In [61]:
tempTuple = tuple(int(i) for i in tempTuple)

In [62]:
tempTuple

(9, 8, 7, 6, 5, 4)

30. Merge two tuples.

In [63]:
tuple1 + tuple2

(1, 2, 1, 2)

31. Flatten a nested tuple.

In [65]:
tempTuple = (1,2,(3,4))
tempTuple

(1, 2, (3, 4))

In [66]:
tempList = []
for i in tempTuple:
    if type(i) == tuple:
        tempList.extend(i)
    else:
        tempList.append(i)
        
tempTuple = tuple(tempList)
tempTuple

(1, 2, 3, 4)

32. Create a tuple of the first 5 prime numbers.

In [69]:
prime_numbers = [2]
num = 3

while len(prime_numbers) < 5:
    is_prime = True
    for divisor in range(3, int(num ** 0.5) + 1, 2):
        if num % divisor == 0:
            is_prime = False
            break
    if is_prime:
        prime_numbers.append(num)
    num += 2  

tuple(prime_numbers)

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [70]:
tempTuple = "racecar"
tempTuple

'racecar'

In [71]:
tempTuple == tempTuple[::-1]

True

34. Create a tuple of squares of numbers from 1 to 5.

In [72]:
tempTuple = tuple(i**2 for i in range(1,6))
tempTuple

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [73]:
tempTuple = tuple(i for i in tempTuple if i%2 !=0)
tempTuple

(1, 9, 25)

36. Multiply all elements in a tuple by 2.

In [74]:
tuple1

(1, 2)

In [76]:
tuple1 = tuple(i*2 for i in tuple1)
tuple1

(2, 4)

37. Create a tuple of random numbers.

In [77]:
import random

In [86]:
tempTuple = tuple(random.randint(1, 1000) for i in range(10))
tempTuple

(162, 621, 710, 327, 460, 440, 613, 482, 178, 104)

38. Check if a tuple is sorted.

In [87]:
tempTuple

(162, 621, 710, 327, 460, 440, 613, 482, 178, 104)

In [91]:
if tuple(sorted(tempTuple)) == tempTuple:
    print('ascending sorted')
elif tuple(sorted(tempTuple, reverse=True)) == tempTuple:
    print('descending sorted')
else:
    print('not sorted')

not sorted

39. Rotate a tuple to the left by `n` positions.

In [94]:
tempTuple

(162, 621, 710, 327, 460, 440, 613, 482, 178, 104)

In [95]:
nPos = 4

In [96]:
nPos = nPos % len(tempTuple) # to make it sure the n should be in range below the lenght of list

rotList = tempTuple[nPos:] + tempTuple[:nPos]

tuple(rotList)

(460, 440, 613, 482, 178, 104, 162, 621, 710, 327)

40. Rotate a tuple to the right by `n` positions.

In [97]:
nPos = nPos % len(tempTuple) # to make it sure the n should be in range below the lenght of list

rotList = tempTuple[:nPos] + tempTuple[nPos:]

tuple(rotList)

(162, 621, 710, 327, 460, 440, 613, 482, 178, 104)

41. Create a tuple of the first 5 Fibonacci numbers.

In [98]:
fibList = [0,1]

while len(fibList) <5:
    nextFib = fibList[-1] + fibList[-2]
    fibList.append(nextFib)
    
tuple(fibList)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [116]:
tempTuple = tuple(input("enter the value to create customTuple:"))

tempTuple

enter the value to create customTuple: 1

('1',)

43. Swap two elements in a tuple.

In [101]:
tempTuple = ('pi', 'qi')
tempTuple

('pi', 'qi')

In [103]:
swapWithIndex = 1
swapToIndex = 0

In [104]:
tempList = list(tempTuple)
# converted to list as tuple are immutable

tempList[swapToIndex], tempList[swapWithIndex] = tempList[swapWithIndex], tempList[swapToIndex]
tempTuple = tuple(tempList)
tempTuple

('qi', 'pi')

44. Reverse the elements of a tuple.

In [105]:
tempList

['qi', 'pi']

In [106]:
revtempList = tempList[::-1]
revtempList

['pi', 'qi']

45. Create a tuple of the first `n` powers of 2.

In [107]:
n = 5

In [111]:
tempTuple = tuple(i**2 for i in range(n)) # if starting index is default 0
tempTuple

(0, 1, 4, 9, 16)

In [112]:
tempTuple = tuple(i**2 for i in range(1, n+1))
tempTuple

(1, 4, 9, 16, 25)

47. Find the shortest string in a tuple of strings.

In [113]:
tempStr = 'Find the shortest string in a tuple of strings.'
tempStr

'Find the shortest string in a tuple of strings.'

In [118]:
tempTuple = tuple(tempStr.split())
tempTuple

('Find', 'the', 'shortest', 'string', 'in', 'a', 'tuple', 'of', 'strings.')

In [119]:
min(tempTuple, key = len)

'a'

48. Create a tuple of the first `n` triangular numbers.

In [120]:
# n(n+1)/2

In [121]:
tempTuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
tempTuple

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [122]:
tuple1 = (1,2,4,6,8)
tuple1

(1, 2, 4, 6, 8)

In [125]:
tuple2 = (4,6)
tuple2

(4, 6)

In [128]:
res = all(ele in tuple1 for ele in tuple2) # ref. https://www.geeksforgeeks.org/python-check-if-one-tuple-is-subset-of-other/
res

True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [129]:
n = 10

In [137]:
tempTuple = tuple(random.randrange(0,2) for i in range(10))
tempTuple

(0, 1, 0, 1, 1, 1, 1, 1, 0, 1)

TOPIC: Set Based Practice Problem

1. Create a set with integers from 1 to 5.

In [138]:
tempSet = {i for i in range(1, 6)}
tempSet

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [139]:
tempSet.add(99)
tempSet

{1, 2, 3, 4, 5, 99}

3. Remove an element from a set.

In [140]:
elementToRemove = 5

In [141]:
tempSet.discard(elementToRemove)
tempSet

{1, 2, 3, 4, 99}

4. Check if an element exists in a set.

In [142]:
element = 99

In [143]:
element in tempSet

True

5. Find the length of a set without using the `len()` function.

In [148]:
setLength = 0

for i in tempSet:
    setLength +=1
print(setLength)

5

6. Clear all elements from a set.

In [149]:
tempSet.clear()
tempSet

set()

7. Create a set of even numbers from 1 to 10.

In [150]:
tempSet = set(i for i in range(1, 11) if i%2==0)
tempSet

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [151]:
tempSet = set(i for i in range(1, 11) if i%2!=0)
tempSet

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [152]:
tempSet1 = tempSet
tempSet1

{1, 3, 5, 7, 9}

In [155]:
tempSet2 = {13,12,9}
tempSet2

{9, 12, 13}

In [156]:
tempSet1.union(tempSet2)

{1, 3, 5, 7, 9, 12, 13}

10. Find the intersection of two sets.

In [157]:
tempSet1

{1, 3, 5, 7, 9}

In [158]:
tempSet2

{9, 12, 13}

In [159]:
tempSet1.intersection(tempSet2)

{9}

11. Find the difference between two sets.

In [160]:
tempSet1.difference(tempSet2)

{1, 3, 5, 7}

12. Check if a set is a subset of another set.

In [161]:
tempSet1

{1, 3, 5, 7, 9}

In [162]:
tempSet2 = {3,5}

In [165]:
lenSet1 = len(tempSet1)
lenSet2 = len(tempSet2)

if(lenSet1> lenSet2):
    print(tempSet2.issubset(tempSet1))
elif(lenSet1< lenSet2):
    print(tempSet1.issubset(tempSet2))
else:
    print('sub set elements are different')

True

13. Check if a set is a superset of another set.

In [168]:
lenSet1 = len(tempSet1)
lenSet2 = len(tempSet2)

if(lenSet1< lenSet2):
    print("tempSet2 is superset", tempSet2.issuperset(tempSet1))
elif(lenSet1> lenSet2):
    print("tempSet1 is superset", tempSet1.issuperset(tempSet2))
else:
    print('sub set elements are different')

tempSet1 is superset True

14. Create a set from a list.

In [169]:
tempList = [1,2,5,6,5,6,6,6]
tempList

[1, 2, 5, 6, 5, 6, 6, 6]

In [189]:
tempSet = set(tempList)
tempSet

{1, 2, 5, 6}

15. Convert a set to a list.

In [190]:
tempList = list(tempSet)
tempList

[1, 2, 5, 6]

16. Remove a random element from a set.

In [194]:
tempEle = random.sample(tempSet, 1)
tempEle

/tmp/ipykernel_86/3259700448.py:1: DeprecationWarning: Sampling from a set deprecated
since Python 3.9 and will be removed in a subsequent version.
  tempEle = random.sample(tempSet, 1)

[6]

In [195]:
tempSet.discard(tempEle[0])

tempSet

{1, 2, 5}

17. Pop an element from a set.

In [196]:
tempSet.pop()

1

18. Check if two sets have no elements in common.

In [197]:
tempSet1 = {1,2,4}
tempSet2 = {5,7}

In [198]:
len(tempSet1.intersection(tempSet2)) == 0

True

19. Find the symmetric difference between two sets.

In [199]:
tempSet1

{1, 2, 4}

In [200]:
tempSet2 = {2,99}
tempSet2

{2, 99}

In [201]:
tempSet1.symmetric_difference(tempSet2)

{1, 4, 99}

20. Update a set with elements from another set.

In [202]:
tempSet1

{1, 2, 4}

In [203]:
tempSet2

{2, 99}

In [204]:
tempSet1.update(tempSet2)

In [205]:
tempSet1

{1, 2, 4, 99}

21. Create a set of the first 5 prime numbers.

In [206]:
prime_numbers = {2}
num = 3

while len(prime_numbers) < 5:
    is_prime = True
    for divisor in range(3, int(num ** 0.5) + 1, 2):
        if num % divisor == 0:
            is_prime = False
            break
    if is_prime:
        prime_numbers.add(num)
    num += 2  

prime_numbers

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [207]:
tempSet1

{1, 2, 4, 99}

In [208]:
tempSet2

{2, 99}

In [209]:
tempSet1 == tempSet2

False

In [210]:
tempSet3 = {99,2}

In [211]:
tempSet2 == tempSet3

True

23. Create a frozen set.

In [214]:
frozenset(tempSet1)

frozenset({1, 2, 4, 99})

24. Check if a set is disjoint with another set.|

In [215]:
tempSet1

{1, 2, 4, 99}

In [216]:
tempSet2

{2, 99}

In [217]:
tempSet1.isdisjoint(tempSet2)

False

In [218]:
tempSet2.isdisjoint(tempSet1)

False

25. Create a set of squares of numbers from 1 to 5.

In [219]:
tempSet = set(i**2 for i in range(1, 6))

tempSet

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [222]:
evenSet = set()
for i in tempSet:
    if i % 2 == 0:
        evenSet.add(i)
        
tempSet = tempSet.difference(evenSet)
tempSet

{1, 9, 25}

27. Multiply all elements in a set by 2.

In [223]:
tempSet

{1, 9, 25}

In [224]:
tempSet = set(i*2 for i in tempSet)
tempSet

{2, 18, 50}

28. Create a set of random numbers.

In [226]:
tempSet = set(random.random() for i in range(5))
tempSet

{0.039805681505490687,
 0.5278180023747086,
 0.643630308728019,
 0.6589606998203524,
 0.8366502159237}

29. Check if a set is empty.

In [227]:
len(tempSet) == 0

False

30. Create a nested set (hint: use frozenset).

In [228]:
nestedSet = frozenset(tempSet)
nestedSet

frozenset({0.039805681505490687,
           0.5278180023747086,
           0.643630308728019,
           0.6589606998203524,
           0.8366502159237})

31. Remove an element from a set using the discard method.

In [231]:
elementToDiscard = 0.5278180023747086

In [232]:
tempSet.discard(elementToDiscard)

In [233]:
tempSet

{0.039805681505490687, 0.643630308728019, 0.6589606998203524, 0.8366502159237}

32. Compare two sets.

In [1]:
tempSet1 = {1,2,3}
tempSet1

{1, 2, 3}

In [2]:
tempSet2 = {1,2,3}
tempSet2

{1, 2, 3}

In [3]:
tempSet1 == tempSet2

True

33. Create a set from a string.

In [4]:
tempStr = "33. Create a set from a string."
tempStr

'33. Create a set from a string.'

In [5]:
tempSet = set(tempStr.split())
tempSet

{'33.', 'Create', 'a', 'from', 'set', 'string.'}

34. Convert a set of strings to a set of integers.

In [6]:
tempStrSet = {'1','2'}
tempStrSet

{'1', '2'}

In [7]:
tempIntSet = set(int(i) for i in tempStrSet)

tempIntSet

{1, 2}

35. Convert a set of integers to a set of strings.

In [8]:
tempStrSet = set(str(i) for i in tempIntSet)

tempStrSet

{'1', '2'}

36. Create a set from a tuple.

In [9]:
tempTuple = (1,2,3,3,3,4,5)
tempTuple

(1, 2, 3, 3, 3, 4, 5)

In [10]:
tempSet = set(tempTuple)
tempSet

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [11]:
tempTuple = tuple(tempSet)

tempTuple

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [12]:
max(tempSet)

5

39. Find the minimum value in a set.

In [13]:
min(tempSet)

1

40. Create a set from user input.

In [14]:
tempSet = set(input("enter the input:"))
tempSet

enter the input: 123444

{'1', '2', '3', '4'}

41. Check if the intersection of two sets is empty.

In [15]:
tempSet1 = {1,2,3,4,5}
tempSet1

{1, 2, 3, 4, 5}

In [16]:
tempSet2 = {3,4,5,6,7}
tempSet2

{3, 4, 5, 6, 7}

In [17]:
tempSet1.intersection(tempSet2)

{3, 4, 5}

42. Create a set of the first 5 Fibonacci numbers.

In [18]:
n = 5

In [27]:
# init first two no.
fibList = [0,1] # used list for indexing as set objects are not subscribtable

while len(fibList) <= n:
    nextFib = fibList[-1] + fibList[-2]
    fibList.append(nextFib)
    
set(fibList)

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [28]:
tempList = [1,2,2,2,2,2,3,5]
tempList

[1, 2, 2, 2, 2, 2, 3, 5]

In [30]:
list(set(tempList))

[1, 2, 3, 5]

44. Check if two sets have the same elements, regardless of their count.

In [31]:
tempSet1

{1, 2, 3, 4, 5}

In [32]:
tempSet2 = {1,2,3,4,5}

In [36]:
tempSet1 == tempSet2

True

45. Create a set of the first `n` powers of 2.

In [38]:
n = 10
tempSet = set(i**2 for i in range(1,n+1))
tempSet

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

46. Find the common elements between a set and a list.

In [39]:
tempSet1

{1, 2, 3, 4, 5}

In [40]:
tempList = [2,3,6,7,7]

In [41]:
tempSet1.intersection(tempList)

{2, 3}

47. Create a set of the first `n` triangular numbers.

In [47]:
n = 10  

triangular_numbers = set()
for i in range(1, n+1):
    triangular_numbers.add((i * (i + 1)) // 2)
print(triangular_numbers)

{1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

48. Check if a set contains another set as a subset.

In [43]:
tempSet1

{1, 2, 3, 4, 5}

In [44]:
tempSet2 ={2,3}
tempSet2

{2, 3}

In [45]:
tempSet2.issubset(tempSet1)

True

In [46]:
tempSet1.issubset(tempSet2)

False

49. Create a set of alternating 1s and 0s of length `n`.

In [49]:
import random

In [48]:
n = 10

In [50]:
tempSet = set()

for i in range(n):
    tempSet.add(random.randrange(0,2))
    
print(tempSet)

{0, 1}

In [51]:
# explanation: as its a set, if the element are same it will consider it only one time so for alternative one and zero, it will store only a one and a zero

50. Merge multiple sets into one.

In [52]:
tempSet1

{1, 2, 3, 4, 5}

In [55]:
tempSet2 = {5,6,7,8}
tempSet2

{5, 6, 7, 8}

In [57]:
tempSet1.union(tempSet2)

{1, 2, 3, 4, 5, 6, 7, 8}